    {% if site.footer_fixed %}
    <footer class="fixed-bottom">
      <div class="container">
          <div class="footr">
              For inquiries, please send an email to
              <a href="mailto:CGNotes@proton.me">CGNotes@proton.me</a>
              <br>
              <br>
              &copy; {{ site.time | date: '%Y' }} CGNotes
          </div>
      </div>
    </footer>
    {%- else -%}
    <footer class="sticky-bottom">
      <div class="container">
          <div class="footr">
              <br>
              For inquiries, please send an email to
              <a href="mailto:CGNotes@proton.me">CGNotes@proton.me</a>
              <br>
              <br>
              &copy; {{ site.time | date: '%Y' }} CGNotes
              <br>
              <br>
          </div>
      </div>
    </footer>
    {%- endif %}
